body {
  text-decoration:none;
  box-sizing:border-box;
  padding:0;
  margin:0;
  background-color:#403d3d;
  height: 200em;
  color:#ffffff;
}




/* ---- SITE TITLE --------------- */

#site-title{
text-decoration:none;
color:#01EFAC;
font-size:2em;
margin:0.25em;
}

/* ---- NAV LINKS ------------------------- */

#navlinks {
  display:flex;
  justify-content:1em;
  margin:1em;
}

#navlinks * {
  color:#ffffff;
  display:flex;
  text-decoration:none;
  margin:1em;
  font-weight:500;
}

.link:hover {
color:#01EFAC;
}


/* -- COUNTER-DYNAMICAL PAGE ----------------------- */

.dynamical-emphasis{
  color:#01EFAC;
  font-weight:700;
}

#dynamical-head-wrapper{
  margin:1em;
  border:solid #ffffff 0.3em;
  padding:1em 2em;
}

#dynamical-tagline{
  color:#01EFAC;
font-size:2em;
}

#dynamical-definition{
  color:#ffffff;
font-size:1.3em;
font-weight:500;
}


/* ----- HOME PAGE ----------------------- */


#home-image {
  object-fit:cover;
  object-position: 50% 50%;
  height:450px;
  width:100%;
  margin-bottom:1em;
}



/* -------- ARTICLE ------------------------------------- */

.articleHeaderImage{
  object-fit:cover;
  object-position: 50% 50%;
  height:300px;
  width:100%;
  margin-bottom:1em;
}

.article-date{
}

.article-title{
 margin-bottom:-15px;
}


.body-image{
  object-fit:cover;
  object-position: 50% 50%;
  height:380px;
  width:100%;
}



#article-1{
  margin:2em;
  text-align:justify;
  letter-spacing:0.015em;
  font-size:18px;
  line-height:2em;
}


/* ---BRIEFING PAGE -------------------------------*/


  /* -----TECH PAGE -----------------------------*/

  
  /* --PAGE MAIN-IMAGES------------------ */

  #exoticTechImg{
  object-fit:cover;
    object-position: 50% 50%;
    height:500px;
    width:100%;
  }